@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.hero-section {
  align-items: center;
  background-image: url("/assets/img/backgrounds/hero-bg.png");
  background-size: cover;
  display: flex;
  gap: 48px;
  justify-content: center;
  flex-direction: column;
  height: 850px;
  width: 100%;

  &__heading {
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    width: 800px;
    overflow-wrap: break-word;
    margin-bottom: 0;

    @include media-breakpoint-down(tb) {
      font-size: 34px;
      width: 80vw;
      line-height: 48px;
      margin: 0;
    }
  }

  &__button {
    border: 2px solid $black;
    border-radius: 48px;
    background-color: $black;
    gap: 12px;
    padding: 16px 34px;
    height: 56px;
    transition: 0.3s background-color ease;

    @include media-breakpoint-up(tb) {
      &:hover {
        background-color: $gray-900;
      }
    }

    &-text {
      color: $white;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
    }

    &-icon {
      display: block;
      width: 12px;
      height: 16px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .hero-section {
    height: 568px;
    gap: 40px;
    padding: 27px 15px 0;

    &__heading {
      font-size: 30px;
      width: 288px;
      line-height: 36px;
    }

    &__button {
      padding-block: 12px;
      width: 211px;
      height: 48px;
      margin-bottom: -2px;

      &-text {
        font-size: 13px;
      }

      &-icon {
        width: 10px;
        height: 13px;
      }
    }
  }
}
