<footer class="footer">
  <div class="footer__info">
    <img class="footer__info-logo" src="/assets/img/icons/footer/logo-icon-white.svg" alt="Logo" />
    <div class="footer__info-contacts">
      <div class="footer__info-contacts-social-media">
        <a href="https://www.facebook.com/mintsyfra/"><img src="/assets/img/icons/footer/facebook-footer-icon.svg" alt="Facebook" /></a>
        <a href="https://twitter.com/mintsyfra"><img src="/assets/img/icons/footer/twitter-footer-icon.svg" alt="Twitter" /></a>
        <a href="https://t.me/mintsyfra"><img src="/assets/img/icons/footer/telegram-footer-icon.svg" alt="telegram" /></a>
        <a href="https://instagram.com/mintsyfra.official"
          ><img src="/assets/img/icons/footer/instagram-footer-icon.svg" alt="Instagram"
        /></a>
        <a href="https://www.youtube.com/channel/UCJpDqJoUTcjMJgBY-DRtfcg"
          ><img src="/assets/img/icons/footer/youtube-footer-icon.svg" alt="Youtube"
        /></a>
        <a href="https://t.me/mincifra_bot"><img src="/assets/img/icons/footer/chatbot-footer-icon.svg" alt="Chat-bot" /></a>
      </div>
      <div class="footer__info-contacts-resources">
        <a href="mailto:pr@thedigital.gov.ua" class="footer__info-contacts-resources-resource">pr@thedigital.gov.ua</a>
        <a href="mailto:hello@thedigital.gov.ua" class="footer__info-contacts-resources-resource">hello@thedigital.gov.ua</a>
      </div>
    </div>
  </div>
  <p class="footer__footer">
    © 2020 Весь контент доступний за ліцензією<br />Creative Commons Attribution 4.0 International license ,якщо не зазначено інше
  </p>
</footer>
