<section class="contacts-section">
  <div class="contacts-section__contact">
    <div class="contacts-section__contact-heading">
      <img class="contacts-section__contact-heading-icon" src="/assets/img/icons/fist-icon.svg" alt="Chat" />
      <p class="contacts-section__contact-heading-text">Зіткнулися з корупцією?</p>
    </div>
    <div class="contacts-section__contact-info">
      <p class="contacts-section__contact-info-text">Пишіть нам</p>
      <a href="mailto:hello@thedigital.gov.ua" class="contacts-section__contact-info-text-contact">hello@thedigital.gov.ua</a>
    </div>
  </div>
  <div class="contacts-section__contact">
    <div class="contacts-section__contact-heading">
      <img class="contacts-section__contact-heading-icon" src="/assets/img/icons/chat-icon.svg" alt="Chat" />
      <span class="contacts-section__contact-heading-text__chat-wrapper">
        <p class="contacts-section__contact-heading-text">Напишіть у чат-бот</p>
      </span>
    </div>
    <div class="contacts-section__contact-info">
      <p class="contacts-section__contact-info-text">Оберіть месенджер</p>
      <div class="contacts-section__contact-info-links">
        <a href="https://api.whatsapp.com/send?phone=380971628529" class="contacts-section__contact-info-links-link">
          <img class="contacts-section__contact-info-links-link-icon" src="/assets/img/icons/viber-icon.svg" alt="Viber" />
        </a>
        <a href="https://t.me/mincifra_bot" class="contacts-section__contact-info-links-link">
          <img class="contacts-section__contact-info-links-link-icon" src="/assets/img/icons/telegram-icon.svg" alt="Telegram" />
        </a>
        <a href="http://m.me/eGovernanceUkraine" class="contacts-section__contact-info-links-link">
          <img class="contacts-section__contact-info-links-link-icon" src="/assets/img/icons/facebook-icon.svg" alt="Facebook" />
        </a>
      </div>
    </div>
  </div>
  <div class="contacts-section__contact">
    <div class="contacts-section__contact-heading">
      <img class="contacts-section__contact-heading-icon" src="/assets/img/icons/phone-icon.svg" alt="Chat" />
      <p class="contacts-section__contact-heading-text">Зателефонуйте на гарячу лінію</p>
    </div>
    <div class="contacts-section__contact-info">
      <p class="contacts-section__contact-info-text">Працює з 09:00 до 18:00</p>
      <a href="tel:+380971628529" class="contacts-section__contact-info-text-contact">+38 097 162 85 29</a>
    </div>
  </div>
</section>
